:root {
  --brand-color: #dcd2f5;
  --secondary-color: #fff;
  --link-color: rgb(201, 186, 242);
  --font-family: "EB Garamond", serif;
}

h1 {
  font-size: 70px;
  line-height: 1;
  color: var(--secondary-color);
  font-weight: bolder;
}

h2 {
  font-size: 42px;
}
body {
  font-family: var(--font-family);
  background: var(--brand-color);
}

.homepage-hero {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(100px);
  border-radius: 12px;
  padding: 150px 50px;
  margin: 10px 10px;
}

.homepage-hero p {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.btn-branding {
  background: var(--brand-color);
  border-color: var(--secondary-color);
  border-radius: 7px;
  color: var(--secondary-color);
  padding: 13px 30px;
  margin-top: 20px;
}

.homepage-hero a:hover {
  background: var(--link-color);
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

#header-nav a {
  font-size: 20px;
}

.btn-work {
  background-color: var(--brand-color);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 7px;
  padding: 13px 30px;
  margin: 20px;
}

.btn-contact {
  background-color: var(--brand-color);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 7px;
  padding: 13px 30px;
  margin: 20px;
}

.navigation-links a:hover {
  background: var(--link-color);
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.social-links a {
  color: var(--secondary-color);
  font-size: 30px;
  padding: 20px;
}

.social-links a:hover {
  color: var(--link-color);
  transition: all 100ms ease-in-out;
}

.about-section {
  background: var(--brand-color);
  max-width: 100%;
  height: 260px;
  margin: 75px 0 100px 0;
}

.about-description {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  width: 600px;
  height: 300px;
  border-radius: 12px;
  margin: 0 auto 50px;
  padding: 20px 0 20px 35px;
}

.about-description p {
  font-size: 17px;
  line-height: 1.5;
}
.profile-image {
  max-width: 240px;
  margin-top: 10px;
  display: flex;
}

.project-title h2 {
  margin: auto 50px;
}
.project-cards {
  background: rgba(255, 255, 255, 0.5);
}

.btn-primary {
  background-color: var(--brand-color);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 7px;
  padding: 13px 30px;
  margin: 20px;
}

.project-cards a:hover {
  background: var(--link-color);
  border-color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.footer .email-link {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 28px;
}
.contact-page-body {
  background: var(--secondary-color);
}

.contact-title h1 {
  color: darkgray;
}

.contact-box {
  display: block;
  margin: 0 auto;
  background: rgba(220, 210, 245, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  width: 750px;
  height: 200px;
  border-radius: 7px;
}

.contact-box h2 {
  font-weight: bold;
}
.contact-inquiry {
  margin: 50px 0 50px 80px;
}

.contact-email {
  margin: 50px 25px;
}

.btn-email {
  background-color: var(--brand-color);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 7px;
  padding: 13px 30px;
  margin: 20px;
}

.contact-page-footer .email-link {
  color: darkgray;
  text-decoration: none;
  font-size: 24px;
}

.contact-page-footer .social-links a {
  color: var(--brand-color);
}
@media (max-width: 576px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  .about-section {
    max-width: 550px;
  }
}
